# Data
data/
olist-intelligence/data/
olist-intelligence/olist-dataset/
olist-intelligence/data/raw/
*.csv
*.parquet
*.zip
*.db

# Secrets
.env
olist-intelligence/.env

# Python
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Models & Logs
*.pkl
*.cbm
mlruns/
olist-intelligence/mlruns/
models/
olist-intelligence/models/

# OS
.DS_Store
